body {
  background-color: rgb(252, 255, 214);
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

h1 {
  text-align: center;
}

h3 {
  margin: 10px 0;
}

main {
  max-width: 1148px;
  margin: 0 auto;
}

footer {
  background-color: #3e3e3e;
  color: lightgray;
  padding: 10px 11%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

#menu__nav {
  min-height: 50px;
  background-color: rgb(207, 43, 43);
  padding: 0 20%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  opacity: 1;
}

#menu {
  position: sticky;
  top: 0;
}

#menu__nav > a {
  color: white;
}

#titulo-principal {
  text-align: center;
}

#origem,
#principal {
  display: flex;
  flex-flow: row nowrap;
}

#principal {
  justify-content: space-between;
  margin-bottom: 10px;
}

#origem__foto-de-bolo {
  width: 100%;
  max-width: 300px;
  max-height: 230px;
}

#foto-bolo-chocolate {
  width: auto;
  max-height: 250px;
  float: left;
  margin-right: 20px;
}

.origem__bolo {
  background-color: white;
  padding: 30px;
}

.sobre {
  padding: auto;
}

#quote {
  background-image: url(./src/img/sweet-cake.jpg);
  background-position: right center;
  background-repeat: no-repeat;
  opacity: 0.5;
  background-color: rgb(128, 0, 0);
  color: white;
  padding: 20px;
  margin-top: 10px;
  text-align: center;
}

.principal__receita-bolo-chocolate-ingredientes {
  margin: 20px 10px;
}

.outros-bolos {
  background-color: white;
  margin: 10px;
  padding: 20px;
}

.contato {
  padding-bottom: 20px;
}

.saiba-mais {
  max-width: auto;
}

.social-icon {
  max-width: 40px;
  max-height: 40px;
  padding: 5px;
}

.social-icon:hover {
  cursor: pointer;
}
